PORT=3015

NODE_ENV=development

DB_USERNAME=root
DB_PASSWORD= 
DB_DATABASE=videoEffect
DB_CLIENT=mysql


MONGODB_CONNECT_URL=mongodb://localhost:27017/trive_card_mongo

SERVER_URL=http://localhost:3015

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

SMTP_SERVICE=smtp.gmail.com
SMTP_USER=iksen.testmail@gmail.com
STM_PORT=587
SMTP_PASSWORD=vrovvtukfbaxbubd
STMP_SENDER=no-reply@iksen.testmail.com
STMP_TLS=true

JWT_SECRET=asdajikoayewuioholihdfalhfdjakl
JWT_SECRET_REFRESH=refreshtoken

CLAN_TRACK_ENDPOINT = http://localhost:3011


GOOGLE_API_KEY=AIzaSyCCQry1jnMQwz_GOOhEewP_uPOQGzFCJRU