<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Hello <%= first_name %>,</h1>
    <p>Thank you for registering with us! Your wallet has been credited with a balance of free <strong>500</strong>.</p>
    <p>Enjoy our services!</p>
    <p>Best Regards,<br>StoryLimo</p>
</body>
</html>
